<a href="https://colab.research.google.com/github/pavansai26/-UMAP-DIMENSIONALITY-REDUCTION/blob/master/NLP_assessment_test_L1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [17]:
data = [[10, 10000, 18-3-2023], [11,14000,19-3-2023], [12,13900,20-3-2023]]

In [18]:
df = pd.DataFrame(data,columns=["store_ids", "store_sales", "dates"])

In [20]:
df['dates'] = pd.date_range(start='1/1/2023', periods=len(df), freq='D')

In [21]:
df

   store_ids  store_sales      dates
0         10        10000 2023-01-01
1         11        14000 2023-01-02
2         12        13900 2023-01-03